<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ксения Малиновская</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/tmpl.js"></script>
    <script src="js/main.js"></script>
    <script src="js/prototype.js"></script>
</head>
<body>
    <form action="#">
        <a href="#" class="logo"><h1>Tenor</h1></a>
        <input type="text" id="search" placeholder="Say more. Search for GiFs">
        <input type="submit" id="search-btn" value="&#10173;">
    </form>
    <main id="content"></main>
    <script type="text/html" id="item_tmpl">
        <div class="wrap">
            <% for (var i = 0; i < results.length; i++) { %>
                <img class="content__img" src=<%= results[i].url%> alt="">
            <% } %>
        </div>
    </script>
</body>
</html>
